---
import BaseLayout from "../../layouts/BaseLayout.astro";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
import TermsThatWork from "../../components/TermsThatWork.astro";
import Team from "../../components/Team";
---

<BaseLayout
  pageTitle="Our Team | Summit Flight Academy"
  pageDescription="Discover the passionate team behind Summit Flight Academy, your premier flight school in Lee's Summit, MO. Meet our elite group of certified flight instructors, aviation experts, and dedicated staff who share a common mission – providing exceptional flight training, unwavering safety standards, and personalized support to help each student pilot reach new heights. Explore our founders' vision, our commitment to your success, and the experienced professionals ready to guide you on your aviation journey."
  pageKeywords="flight instructor team, Lee's Summit flight school, certified flight instructors, aviation experts, personalized flight training, student pilot support, aviation passion, safety focus, founders' vision, experienced professionals, elite instructor bios, meet our staff"
>
  <header
    class="relative h-screen-3/4 bg-commercial-pilot bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/50 to-black/20 w-full h-full z-0"
    >
    </div>
    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full justify-end mb-12 lg:mb-24"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        The People Behind Summit
      </h1>
      <h2 class="text-3xl tracking-wide">
        Our elite flight instruction team in Lee's Summit, MO
      </h2>
      <a href="#summit-team" class="btn-red">Meet Summit</a>
    </div>
  </header>

  <section id="summit-flight-mission" class="bg-main-red">
    <div
      class="lg:px-16 md:px-12 px-8 py-40 flex flex-col justify-center align-middle"
    >
      <h2 class="text-5xl text-gray-100 font-bold text-center">
        The Summit Flight Mission
      </h2>
      <p class="mt-6 text-white text-center text-xl lg:px-52">
        To provide excellence in flight training, the highest levels of service,
        and the upmost focus on safety and student growth to help each pilot
        meet their aviation goals!
      </p>
      <a href="#summit-team" class="btn-white mx-auto mt-12">Learn More</a>
    </div>
  </section>

  <TermsThatWork />

  <Team client:visible />

  <EnrollNowCTA />
</BaseLayout>
