---
import BaseLayout from "../../layouts/BaseLayout.astro";
import GetInTouch from "../../components/GetInTouch.astro";
import Location from "../../components/Location.astro";
import EnrollmentModalButton from "../../components/enrollmentModalButtom";
import UnderHeaderVideo from "../../components/UnderHeaderVideo.astro";
---

<BaseLayout
  pageTitle="Visit Us | Summit Flight Academy"
  pageDescription="Discover Summit Flight Academy's pilot training programs at Lee's Summit Regional Airport. Contact us to schedule a visit or book an introductory flight to start your journey to the skies."
  pageKeywords="Summit Flight Academy, pilot training, Lee's Summit Regional Airport, KLXT, flight training programs, introductory flight, Kansas City, aviation school, recreational pilot training, career pilot training"
>
  <header
    class="relative h-screen-3/4 bg-visit-us bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Visit Summit Flight Academy
      </h1>
      <h2 class="text-3xl tracking-wide">Stop by and see us in person</h2>
      <EnrollmentModalButton
        btnStyle={"btn-red"}
        btnText={"Visit Us"}
        client:load
      />
      <!-- <a href="#contactUs" class="btn-red">Meet Summit</a> -->
    </div>
  </header>

  <!-- <UnderHeader
    title="Lorem ipsum dolor sit amet."
    text1="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate. Quisquam, voluptate. Quisquam, voluptate. Quisquam, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate. Quisquam, voluptate. Quisquam, voluptate. Quisquam, voluptate. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, voluptate. Quisquam, voluptate. Quisquam, voluptate. Quisquam, voluptate."
  /> -->

  <UnderHeaderVideo
    title="Why Summit Flight Academy"
    description="Meet Jami, the friendly admin at Summit Flight Academy, located at Lee's Summit Airport (KLXT) in Lee's Summit, Missouri. Jami is here to help you with any questions you may have about starting your aviation journey, from scheduling a discovery flight to connecting you with experienced flight instructors."
    videoId="4U0UEYHOPgo"
  />

  <GetInTouch />

  <Location />
</BaseLayout>
