---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import InstrumentRoadmap from "../../components/InstrumentRoadmap.astro";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
import InstrumentPackages from "../../components/InstrumentPackages.astro";
import FAQs from "../../components/FAQs";
import { instrumentFAQs } from "../../data/instrumentFAQs";
import EnrollmentModalButton from "../../components/enrollmentModalButtom";
---

<BaseLayout
  pageTitle="Career | Summit Flight Academy"
  pageDescription="Elevate your aviation skills with Summit Flight Academy's in-depth Instrument Rating training program. Learn to navigate challenging weather conditions and broaden your range with our experienced Certified Flight Instructor Instruments (CFII). From intensive flight training to written exams and cross-country flights, we guide you step-by-step to obtain this coveted rating. Enhance your capabilities, unlock new opportunities, and become a proficient instrument-rated pilot."
  pageKeywords="instrument rating training, instrument rating requirements, instrument flight training, instrument flight rules (IFR), instrument pilot certification, aviation training program, CFII flight instructor, instrument rating checkride, cross-country instrument flight, instrument approaches, in-depth training, flight school"
>
  <!-- <PageHeader
    title="How to Become a Private Pilot"
    subtitle="The starting point in all pilot journeys"
    headerImg="private-pilot"
    imgPosition="center"
    imgStartOpacity="50"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-instrument-rating bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full justify-end mb-12 lg:mb-24"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        How to Get an Instrument Rating
      </h1>
      <h2 class="text-3xl tracking-wide">
        Navigate instrument conditions and expand your range
      </h2>
      <EnrollmentModalButton
        client:visible
        btnStyle={"btn-red"}
        btnText={"Apply Today"}
      />
    </div>
  </header>

  <UnderHeader
    title="What is an Instrument Rating?"
    text1="Obtaining an Instrument Rating is a significant milestone in a pilot's journey and allows for more complex flying. At Summit Flight Academy, we understand the importance of this rating and are dedicated to providing comprehensive training and support to help aspiring pilots achieve this goal. With an Instrument Rating, pilots gain the ability to navigate and operate aircraft safely under conditions of reduced visibility and adverse weather, expanding their capabilities and opening up new opportunities in the aviation industry."
  />

  <InstrumentRoadmap />

  <EnrollNowCTA />

  <InstrumentPackages />

  <FAQs faqs={instrumentFAQs} type="Instrument Rating" client:visible />

  <!-- <DiscoveryFlightCTA /> -->

  <!-- <ContactUs /> -->
</BaseLayout>
