---
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ScheduleCallCTA from "../../components/ScheduleCallCTA.astro";
---

<BaseLayout
  pageTitle="Military / Rotor Transition | Red Arrow Flight Academy"
  pageDescription="Explore our Military / Rotor Transition Program at Red Arrow Flight Academy. Add-on your Military / Rotor Transition Rating with us. Learn about the COOL Program. Enroll today and transition seamlessly from military to civilian aviation."
  pageKeywords="Military Rotor Transition, Military Flight Training, Rotor Transition Program, COOL Program, Army Credentialing Assistance, Military Aviation Training, RTAG"
>
  <!-- Header -->
  <header
    class="relative h-screen-3/4 bg-military bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/50 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tight">
        Military/Rotor Transition Training
      </h1>
      <h2 class="text-3xl tracking-wide">
        Transition to civilian flight with Red Arrow
      </h2>
      <a href="/enrollment" target="_blank" class="btn-red">Enroll Today</a>
    </div>
  </header>

  <div class="bg-gradient-to-br py-10 px-5 from-white to-gray-200">
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      Information for Military
    </h2>
    <div
      class="flex flex-col lg:flex-row max-w-7xl px-5 mx-auto gap-10 items-center"
    >
      <div>
        <div class="mt-10 flex flex-col lg:flex-row items-center gap-10">
          <div class="lg:w-1/2 flex flex-col items-center">
            <img src="/img/military/military.webp" alt="" class="" />
          </div>
          <div class="tracking-wider lg:w-1/2 flex flex-col items-center gap-5">
            <p>
              Red Arrow Flight Academy welcomes military and civilian helicopter
              pilots to our specialized Military / Rotor Transition Program.
              Whether you're a military aviator looking to expand your skill set
              or a civilian helicopter pilot seeking a transition to fixed-wing
              aircraft, our program is designed to accommodate your needs.
              Add-on training options include Private Pilot, Instrument Rating,
              and Commercial Pilot certifications.
            </p>
            <p>
              For financial assistance, we proudly participate in the Army
              Credentialing Assistance program, offering support for education
              and professional development. Additionally, the COOL Program
              provides annual grants ranging from $1,000 to $4,000. Take the
              next step in your aviation journey and enroll with Red Arrow to
              seamlessly transition to a rewarding career in civilian aviation.
            </p>
          </div>
        </div>
        <div
          class="mt-10 grid grid-cols-4 max-w-4xl mx-auto border-t border-l border-black text-xs text-center sm:text-sm lg:text-base"
        >
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Training
          </p>
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Private Add-on (hours)
          </p>
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Instrument Add-on (hours)
          </p>
          <p
            class="py-1 bg-gray-600 text-white flex items-center justify-center border-r border-b border-black font-semibold"
          >
            Commercial Add-on (hours)
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            Ground Training
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            7.5
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            3
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            3
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            Dual Flight Training
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            12.4
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            15
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            20
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            Solo Flight
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            10
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            10
          </p>
          <p
            class="py-1 flex items-center justify-center border-r border-b border-black"
          >
            30
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            Check Ride
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            1
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            1
          </p>
          <p
            class="py-1 bg-gray-300 flex items-center justify-center border-r border-b border-black"
          >
            1
          </p>
        </div>
      </div>
      <div
        class="flex flex-col lg:max-w-56 gap-5 rounded-xl border-2 border-main-red shadow-gray-500 text-black bg-gradient-to-bl from-gray-200 to-gray-300 p-5"
      >
        <h4 class="font-semibold text-xl text-center">
          Flight Program Application
        </h4>
        <p>
          If you are interested in enrolling in one of our flight programs,
          please download and fill out this application. You may bring it in to
          our office or email it to us at <a
            href="mailto:eperalta@flyredarrow.com"
            class="underline hover:text-blue-500"
          >
            eperalta@flyredarrow.com
          </a>
        </p>
        <a
          href="/files/red-arrow-us-application.pdf"
          download="red-arrow-us-application.pdf"
          class="btn-red self-center">Download</a
        >
      </div>
    </div>
  </div>

  <!-- Call to Action Banner -->
  <ScheduleCallCTA />

  <!-- Contact Us Form -->
  <ContactUs />
</BaseLayout>
