---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import MultiEngineRoadmap from "../../components/MultiEngineRoadmap.astro";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
import MultienginePackage from "../../components/MultienginePackage.astro";
import EnrollmentModalButton from "../../components/enrollmentModalButtom";
import UnderHeaderVideo from "../../components/UnderHeaderVideo.astro";
const GHL_ENROLL_FORM_WEBHOOK_URL = import.meta.env.GHL_ENROLL_FORM_WEBHOOK_URL;
const PORTAL_API_KEY = import.meta.env.PORTAL_API_KEY;
---

<BaseLayout
  pageTitle="Multi-Engine | Summit Flight Academy"
  pageDescription="Soar to new heights with Summit Flight Academy's Multi-Engine Rating training. Gain the expertise to command complex, high-performance multi-engine aircraft with proficiency. Through ground school, practical flight sessions, and evaluations, our experienced instructors equip you with the essential knowledge and skills for safe multi-engine operations. Unlock new opportunities and elevate your piloting career with this advanced rating."
  pageKeywords="multi-engine rating, multi-engine training, pilot rating requirements, multi-engine aircraft operations, flight school training, advanced pilot certification, practical flight training, engine-out procedures, aviation career advancement, high-performance aircraft"
>
  <!-- <PageHeader
    title="How to Become a Private Pilot"
    subtitle="The starting point in all pilot journeys"
    headerImg="private-pilot"
    imgPosition="center"
    imgStartOpacity="50"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-multi-engine bg-cover bg-left lg:bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Add-on Your Multi-Engine Rating
      </h1>
      <h2 class="text-3xl tracking-wide">
        Advance your aviation credentials and fly complex aircraft
      </h2>
      <EnrollmentModalButton
        client:visible
        btnStyle={"btn-red"}
        btnText={"Apply Today"}
        webhookUrl={GHL_ENROLL_FORM_WEBHOOK_URL}
        apiKey={PORTAL_API_KEY}
      />
    </div>
  </header>

  <!-- <UnderHeader
    title="What is a Multi-Engine Rating?"
    text1="A Multi-Engine Rating is a significant achievement that opens up new opportunities for pilots, granting them the privilege of acting as pilot in command (PIC) of multi-engine aircraft. At Summit Flight Academy, we understand the importance of this rating and are dedicated to providing top-notch training to help aspiring pilots excel in the realm of multi-engine aviation. We ensure that you gain the necessary knowledge, skills, and experience to navigate the complexities of these high-performance aircraft with confidence and proficiency."
  /> -->

  <UnderHeaderVideo
    title="How to Get Started"
    videoId="jsqzAKMlHZQ"
    description="Meet Andrew, a Certified Flight Instructor (CFI) at Summit Flight Academy with a passion for guiding students through their first flying experience. Andrew has been a part of the Summit team for six months and loves helping aspiring pilots achieve their dreams. Andrew walks you through the experience of taking off, climbing, and maneuvering a small aircraft for the first time."
  />

  <MultiEngineRoadmap />

  <MultienginePackage />

  <EnrollNowCTA />

  <!-- <FAQs faqs={instrumentFAQs} client:visible /> -->

  <!-- <DiscoveryFlightCTA /> -->

  <!-- <ContactUs /> -->
</BaseLayout>
