---
import PageHeader from "../../components/PageHeader.astro";
import DiscoveryFlightCTA from "../../components/DiscoveryFlightCTA.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import BundlePackages from "../../components/BundlePackages.astro";
import { imageConfig } from "astro:assets";
import FAQs from "../../components/FAQs";
import { bundleFAQs } from "../../data/bundleFAQs";
---

<BaseLayout
  pageTitle="Private Training | Summit Flight Academy"
  pageDescription="Maximize your piloting potential with Summit Flight Academy's bundled Private Pilot + Instrument Rating training package. Designed for pilots seeking long-distance flying capabilities, this comprehensive program equips you with both certifications in one streamlined course. Choose between our 7- or 10-month schedules to fit your timeline, and benefit from cost savings by combining these essential ratings. Unlock the skies and expand your horizons with our efficient, in-depth training approach."
  pageKeywords="private pilot training, instrument rating training, bundled pilot training, combined pilot certification, cross-country pilot package, long-distance flying, flight school packages, pilot training costs, accelerated pilot training, 7-month pilot program, 10-month pilot program"
>
  <!-- <PageHeader
    title="How to Become a Private Pilot"
    subtitle="The starting point in all pilot journeys"
    headerImg="private-pilot"
    imgPosition="center"
    imgStartOpacity="50"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-pilot-bundle bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full justify-end mb-12 lg:mb-24"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Bundle Your Private Pilot + Instrument Rating
      </h1>
      <h2 class="text-3xl tracking-wide">Knock both out in one package</h2>
      <a href="/enrollment" target="_blank" class="btn-red">Apply Today</a>
    </div>
  </header>

  <UnderHeader
    title="The Summit Bundle"
    text1=`We call this the "Cross Country Pilot Package". Pilots looking to fly longer distances will benefit from the flexibility that earning an instrument rating on top of a private pilot certificate offers.  To facilitate this, we offer a combined private and instrument package that with the option to complete your training in 7 or 10 months.`
    text2=`Check out our private and instrument training pages for details on the overall training program. The overall requirements and objectives do not change.`
    text3=` For this program we offer you special savings for continuing on with your instrument training right after your private training is completed. Like career track programs, staying in the training environment offers you the opportunity to be most efficient with your training program. We offer you two speeds at which to complete this program.​`
  />

  <BundlePackages />

  <DiscoveryFlightCTA />

  <FAQs
    faqs={bundleFAQs}
    type="Private Pilot + Instrument Rating"
    client:visible
  />

  <!-- <DiscoveryFlightCTA /> -->

  <!-- <ContactUs /> -->
</BaseLayout>
