---
import PageHeader from "../../components/PageHeader.astro";
import DiscoveryFlightCTA from "../../components/DiscoveryFlightCTA.astro";
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import TrainingCourseList from "../../components/TrainingCourseList.jsx";
import UnderHeader from "../../components/UnderHeader.astro";
import PilotRoadmap from "../../components/PilotRoadmap.astro";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
import OurPackages from "../../components/OurPackages.astro";
import { imageConfig } from "astro:assets";
import FAQs from "../../components/FAQs";
import { privatepilotFAQs } from "../../data/privatePilotFAQs";
---

<BaseLayout
  pageTitle="Training Courses | Summit Flight Academy"
  pageDescription="Explore a comprehensive range of pilot training courses at Summit Flight Academy. From Private Pilot License (PPL) to Airline and Military programs, discover the perfect training path for your aviation goals. Flexible and accelerated options are available. Train with us and elevate your flight career."
  pageKeywords="pilot training courses, aviation training programs, flight academy programs, PPL courses, Airline pilot training, Military pilot programs, accelerated pilot training, flexible pilot training, flight school courses, certified flight instructor, aviation career paths"
>
  <!-- <PageHeader
    title="How to Become a Private Pilot"
    subtitle="The starting point in all pilot journeys"
    headerImg="private-pilot"
    imgPosition="center"
    imgStartOpacity="50"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-private-pilot bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        How to Become a Private Pilot
      </h1>
      <h2 class="text-3xl tracking-wide">
        The starting point in all pilot journeys
      </h2>
      <a href="/enrollment" target="_blank"
        ><button class="btn-red">Apply Now</button></a
      >
    </div>
  </header>

  <UnderHeader
    title="What is a Private Pilot Certificate?"
    text1=`A private pilot certificate is a coveted achievement for those who dream of taking to the skies. This certification, issued by aviation authorities, opens up a world of possibilities, allowing holders to operate aircraft for personal or recreational purposes. Whether it's soaring above scenic landscapes, visiting distant destinations, or simply indulging in the thrill of flight, a private pilot certificate is the key that unlocks these adventures. At Summit Flight Academy, our experienced instructors are dedicated to helping aspiring pilots earn this essential certification, providing comprehensive training and support throughout the journey.`
  />

  <PilotRoadmap />

  <EnrollNowCTA />

  <OurPackages />

  <FAQs faqs={privatepilotFAQs} type="Private Pilot" client:visible />

  <!-- <DiscoveryFlightCTA /> -->

  <!-- <ContactUs /> -->
</BaseLayout>
