---
import ContactUs from "../../components/ContactUs.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="University Program | Red Arrow Flight Academy"
  pageDescription="Explore aviation career opportunities through Red Arrow Flight Academy's University Program in collaboration with Purdue University Global. Pursue online bachelor's degrees in professional flight or aviation management, benefiting from flexible learning, tuition reductions, and renowned academic excellence."
  pageKeywords="aviation career, university-level instruction, Purdue Global, Red Arrow, professional flight degree, aviation management degree, online learning, tuition reduction, Purdue University system, flight training"
>
  <header
    class="relative h-screen-3/4 bg-university-program bg-cover bg-center bg-white flex flex-col items-center justify-center"
  >
    <div class="absolute bg-black/70 w-full h-full z-0"></div>

    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tighter">University Program</h1>
      <h2 class="text-3xl tracking-wide">Our partnership with Purdue Global</h2>
      <a href="/enrollment" target="_blank"
        ><button class="btn-red bg-[#c28e0e]">Start Now</button></a
      >
    </div>
  </header>

  <section class="flex flex-col items-center text-white bg-[#c28e0e] p-5">
    <div
      class="max-w-xl lg:max-w-3xl px-10 lg:w-1/2 flex flex-col items-center py-10"
    >
      <h2 class="text-3xl font-semibold text-center tracking-tight">
        Purdue Global + Red Arrow
      </h2>
      <h3 class="pt-10 text-xl italic">
        For the benefit of those who wish to turn aviation into their career via
        university-level instruction.
      </h3>
      <div class="tracking-wider">
        <p class="pt-10">
          Discover an aviation career through our University Program in
          collaboration with Purdue University Global. This partnership brings
          together the flexibility and affordability of Purdue Global with the
          renowned aviation program of Purdue University. As a student at Red
          Arrow Flight Academy, you have the exclusive opportunity to pursue
          online bachelor's degrees in professional flight or aviation
          management.
        </p>
      </div>
    </div>
  </section>

  <section class="bg-gradient-to-br from-white to-gray-200 p-10">
    <div class="flex flex-col max-w-6xl mx-auto">
      <div
        class="flex flex-col items-center lg:flex-row gap-6 w-full justify-around"
      >
        <div class="max-w-xl p-10">
          <h2 class="text-3xl font-semibold text-center tracking-tight">
            Benefits of the Program
          </h2>
          <p class="pt-10">
            <span class="font-semibold">BS in Professional Flight:</span> Complete
            your professional flight degree online in 2–3 years, saving up to $28,400
            in tuition. You can seamlessly integrate your degree pursuit with flight
            training or full-time flight instructor work.
          </p>
          <p class="pt-10">
            <span class="font-semibold">BS in Aviation Management:</span> Develop
            managerial-level skills in aviation operations and business management
            through this 100% online program. Eligible transfer credits are accepted
            for FAA certificate and rating holders.
          </p>
        </div>
        <img
          src="/img/university-program/benefits.webp"
          alt=""
          class="w-fit h-80"
        />
      </div>

      <div
        class="flex flex-col-reverse items-center lg:flex-row gap-6 w-full justify-around"
      >
        <img
          src="/img/university-program/why-purdue.webp"
          alt=""
          class="w-fit h-80"
        />
        <div class="max-w-xl p-10">
          <h2 class="text-3xl font-semibold text-center tracking-tight">
            Why Choose Purdue Global?
          </h2>
          <p class="pt-10">
            <span class="font-semibold">Partner School Tuition Reduction:</span>
            Enjoy a 20% tuition reduction on undergraduate programs and a 14% reduction
            on graduate programs, along with included textbooks for undergraduate
            programs.
          </p>
          <p class="pt-10">
            <span class="font-semibold">Adult-Centric Approach:</span> Benefit from
            flexible learning options, a generous transfer credit policy, and personalized
            support tailored to adult learners.
          </p>
          <p class="pt-10">
            <span class="font-semibold">Nationally Ranked and Respected:</span> Join
            Purdue Global, part of the esteemed Purdue University system, recognized
            as one of the world's most prestigious research universities.
          </p>
        </div>
      </div>

      <h3 class="p-10 text-xl italic text-center max-w-3xl self-center">
        Seize the opportunity to shape your aviation future by enrolling now or
        visiting <a
          href="https://RedArrow.PurdueGlobal.edu"
          class="underline hover:text-blue-500"
          target="_blank"
          rel="noopener"
        >
          RedArrow.PurdueGlobal.edu
        </a>. Launch your career with the combined excellence of Red Arrow
        Flight Academy and Purdue University Global.
      </h3>
    </div>
  </section>

  <ContactUs />
</BaseLayout>
