---
import BaseLayout from "../layouts/BaseLayout.astro";
import { PHONE_NUMBER, EMAIL_ADDRESS } from "../consts";
---

<BaseLayout>
  <main class="bg-gray-100 w-full flex flex-col items-center justify-center">
    <!--Container for contents-->
    <div class="text-center lg:w-3/5 md:w-4/5">
      <h1 class="font-bold text-4xl py-10">Thank you for booking with us.</h1>

      <!--Container for check-->
      <div class="flex flex-row justify-center">
        <!--circle of check-->
        <div class="bg-green-200 rounded-full py-3 px-4 mb-10">
          <!--check itself-->
          <div class="text-green-700 text-5xl">✓</div>
        </div>
      </div>

      <p class="px-5">
        Thank you for booking a session with Red Arrow Flight Academy. We are
        looking forward to flying with you soon. We will review your message and
        get back with you within 1-5 business days. <br /><br />
        You can also give us a call at {PHONE_NUMBER} or email us at {
          EMAIL_ADDRESS
        }
      </p>

      <div class="pt-10 flex flex-row justify-center">
        <a href="/">
          <div class="btn-red mb-10 w-52">HOME</div>
        </a>
      </div>
    </div>
  </main>
</BaseLayout>
