---
import HomeLayout from "../layouts/HomeLayout.astro";
import TryFlyingCTA from "../components/TryFlyingCTA.astro";
import GettingStarted from "../components/GettingStarted.astro";
import OurTop from "../components/OurTop.astro";
import WhySummit from "../components/WhySummit.astro";
import CarouselReviews from "../components/carouselReviews.jsx";
import QuizCTA from "../components/QuizCTA.astro";
import EnrollmentModalButton from "../components/enrollmentModalButtom";
import GuideDownload from "../components/GuideDownload.astro";
import ImageComp from "../components/ImageComp.astro";
import UnderHeaderVideo from "../components/UnderHeaderVideo.astro";
const GHL_ENROLL_FORM_WEBHOOK_URL = import.meta.env.GHL_ENROLL_FORM_WEBHOOK_URL;
const PORTAL_API_KEY = import.meta.env.PORTAL_API_KEY;
---

<HomeLayout
  pageTitle="Kansas City Leading Flight School | Summit Flight Academy"
  pageDescription="Summit Flight Academy is a leading flight school in Kansas City, offering a range of pilot training programs including private pilot, instrument rating, commercial pilot, and multi-engine rating. With well-maintained aircraft, experienced instructors, and a supportive environment, they provide quality aviation education for aspiring pilots."
  pageKeywords="flight school kansas city, pilot training kansas city, private pilot training, instrument rating, commercial pilot training, multi-engine rating, aviation education, learn to fly, discovery flight, career pilot program"
>
  <!-- <PageHeader
    title="Become a Pilot with Summit"
    subtitle="Your Leading Flight School in Kansas City at Lee's Summit Airport"
    headerImg="home"
    imgPosition="center"
    imgStartOpacity="60"
    imgEndOpacity="20"
    btnText="Enroll Today"
    headerSize="4/5"
  /> -->

  <!-- Header -->
  <header
    class="relative top-0 h-screen lg:h-screen-4/5 bg-home bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div
      class="absolute bg-gradient-to-b from-black/50 to-black/10 w-full h-full z-0"
    >
    </div>
    <!-- Text -->
    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tight animate-slow-fade">
        Become a Pilot with Summit
      </h1>
      <h2 class="text-3xl tracking-wide animate-slow-fade">
        Your Leading Flight School in Kansas City at Lee's Summit Airport
      </h2>
      <div></div>
      <EnrollmentModalButton
        client:visible
        btnStyle={"btn-red z-0 animate-slow-fade"}
        btnText={"Apply Today"}
        webhookUrl={GHL_ENROLL_FORM_WEBHOOK_URL}
        apiKey={PORTAL_API_KEY}
      />
    </div>
    <!-- <Partners /> -->
  </header>

  <section
    class="h-auto w-full py-6 bg-gray-200 flex flex-col md:flex-row justify-center align-middle items-center"
  >
    <h2
      class="text-base text-center md:text-right w-full md:w-1/2 md:mr-8 lg:text-xl text-slate-600 font-bold uppercase font-header"
    >
      Proudly Sending Pilots to
    </h2>
    <a
      class="w-full md:w-1/2 flex justify-center md:justify-start"
      href="https://www.skywest.com/"
      target="_blank"
    >
      <ImageComp
        imagePath="/src/assets/skywest-logo.png"
        imageAlt="Skywest airlines logo"
        styles="h-24 w-auto md:pl-5 md:border-l-2 border-slate-300"
      />
    </a>
  </section>

  <TryFlyingCTA />

  <UnderHeaderVideo
    title="Why Become a Pilot?"
    description="If you've thought about becoming a pilot, now is the perfect time to get started. Summit Flight Academy is your place to start training and get your pilot certificate and ratings. "
    videoId="rYngYS6eBeg"
  />

  <script
    src="https://static.elfsight.com/platform/platform.js"
    data-use-service-core
    defer></script>
  <div
    class="elfsight-app-d87b7480-d576-4832-832e-fe5ea4353251 py-14 bg-gray-50"
    data-elfsight-app-lazy
  >
  </div>

  <GettingStarted />

  <WhySummit />

  <UnderHeaderVideo
    reverse={true}
    title="Join our Family"
    description="At Summit Flight Academy, we focus on creating a welcoming, collaborative environment where aspiring pilots can thrive. Whether you’re local to Lee’s Summit, Overland Park, or Johnson County, Summit offers the resources, expertise, and encouragement to help you succeed."
    videoId="IQJgXZ1KgKU"
  />

  <OurTop />

  <QuizCTA />

  <GuideDownload />
</HomeLayout>
