---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  pageTitle="Multi-Engine Resources | Summit Flight Academy"
  pageDescription="View and explore multi-engine resources including videos, documents, and more to help you in your training at Summit Flight Academy."
  pageKeywords="pilot training, become a pilot, flight school, private pilot license, aviation career, discovery flight, flight training programs, commercial pilot certification, instrument rating, multi-engine training, aviation education"
>
  <header
    class="relative h-screen-3/4 bg-resources bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/50 to-black/20 w-full h-full z-0"
    >
    </div>
    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tight animate-slow-fade">
        Multi-Engine Resources
      </h1>
      <h2 class="text-3xl tracking-wide animate-slow-fade">
        Explore multi-engine resources needed before your multi-engine training
      </h2>
    </div>
  </header>

  <section>
    <div class="py-24 px-5 max-w-5xl mx-auto flex flex-col items-center">
      <h2 class="text-base font-semibold leading-7 text-main-red text-center">
        Multi-Engine Resources
      </h2>
      <p
        class="mt-2 text-2xl font-bold tracking-tight text-black sm:text-3xl text-center mb-8"
      >
        Below are resources to help you prepare for your multi-engine training
        at Summit Flight Academy.
      </p>
      <a
        href="/files/sfa-me-add-on-study-guide-and-course-information.pdf"
        class="btn-red whitespace-normal w-full sm:w-fit"
        download="SFA ME Add-On Study Guide and Course Information"
      >
        Add-On Study Guide and Course Information
      </a>
    </div>
  </section>
</BaseLayout>
