---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FinancingTabs from "../../components/FinancingTabs";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
---

<BaseLayout
  pageTitle="Financing | Summit Flight Academy"
  pageDescription="Summit Flight Academy offers financing options through partnerships with Flight Training Financing, and AOPA Flight Training Financing. These financing options make flight training affordable whether you're pursuing a pilot career or a personal goal. Our team guides you to the best financing choice for your training and budget needs. Don't let costs hold you back - invest in your aviation goals through our financing partners. Apply online to get started or contact us for further inquiries."
  pageKeywords="flight training financing, pilot career financing, personal aviation financing, flight school loans, affordable pilot training, financing partnerships, Flight Training Financing LLC, AOPA Flight Training Financing, easy financing application, flexible payment options"
>
  <!-- Header -->
  <header
    class="relative h-screen-3/4 bg-financing bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <!-- bg-overlay to darken -->
    <div class="absolute bg-black/70 w-full h-full z-0"></div>
    <!-- Text -->
    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tight">
        How to Access Financing at Summit
      </h1>
      <h2 class="text-3xl tracking-wide">
        Explore our financing options below
      </h2>
      <a href="#financing-tabs" class="btn-red">Contact Financing</a>
    </div>
  </header>
  <section id="flight-school-reach" class="w-full py-20 bg-gray-300">
    <h2 class="text-4xl font-bold text-center mb-10 text-main-red">
      Putting Flight School within Reach
    </h2>
    <p class="text-xl text-center max-w-3xl mx-auto text-gray-900">
      Summit Flight Academy offers financing options through partnerships with
      Flight Training Financing LLC, and AOPA Flight Training Financing. These
      financing options make flight training affordable whether you're pursuing
      a pilot career or a personal goal. Our team guides you to the best
      financing choice for your training and budget needs. Don't let costs hold
      you back - invest in your aviation goals through our financing partners.
      Apply online to get started or contact us for further inquiries.
    </p>
  </section>

  <FinancingTabs client:load />

  <EnrollNowCTA />
</BaseLayout>
