---
import BaseLayout from "../../layouts/BaseLayout.astro";
import FormsCards from "../../components/FormsCards.astro";
import WhatsNext from "../../components/WhatsNext.astro";
---

<BaseLayout
  pageTitle="Forms | Summit Flight Academy"
  pageDescription="Streamline your flight training experience with Summit Flight Academy's forms library. From enrollment applications and rental requests to proficiency checks and instructor opportunities, our user-friendly online forms ensure a seamless process. Access essential documents like student enrollment, aircraft rental, flight reviews, liability releases, and CFI applications, all conveniently available for download. Simplify your aviation journey by utilizing our centralized forms hub, designed to support you every step of the way."
  pageKeywords="flight training forms, pilot enrollment application, aircraft rental forms, instrument proficiency check request, flight review forms, liability release forms, CFI job application, downloadable aviation documents, online form submissions, seamless flight training process"
>
  <!-- <PageHeader
    title="How to Become a Private Pilot"
    subtitle="The starting point in all pilot journeys"
    headerImg="private-pilot"
    imgPosition="center"
    imgStartOpacity="50"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-forms-library bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full justify-end mb-12 lg:mb-36"
    >
      <h1 class="text-5xl font-bold tracking-tighter">Flight Training Forms</h1>
      <h2 class="text-3xl tracking-wide">Find Your Important Forms Below</h2>
    </div>
  </header>

  <FormsCards />

  <WhatsNext />
</BaseLayout>
