---
import ImageComp from "../ImageComp.astro";
const example = {
  upperTitle: "Build confidence in your craft",
  title: "Do You Have What It Takes To Be A Pilot?",
  descriptions: [
    "Begin your path to becoming a pilot with our brief quiz. Our quiz is designed to look at your aviation-related knowledge and aptitude, alongside your unique personality traits and interests, to provide insights into whether a future in aviation aligns with your aspirations.",
  ],
  imagePath:
    "/src/assets/summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks.webp",
  imageAlt:
    "summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks",
};
const { city, text1, content = example } = Astro.props;
---

<div class="relative bg-gray-900 flex flex-row-reverse">
  <div class="bg-red-600 w-full md:w-1/2">
    <ImageComp
      styles="h-full w-full object-cover object-left"
      imagePath={content.imagePath ||
        "/src/assets/summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks.webp"}
      imageAlt={content.imageAlt ||
        "summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks"}
      quality="90"
    />
  </div>
  <div class="w-full md:w-1/2 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="w-full text-center lg:text-right">
      <h2 class="text-base font-semibold leading-7 text-gray-400">
        {content.upperTitle}
      </h2>
      <p class="mt-2 text-3xl font-bold tracking-tight text-white sm:text-4xl">
        {
          city
            ? `Do You Have What It Takes To Be A Pilot near ${city}?`
            : content.title
        }
      </p>
      {text1 && <p class="mt-6 text-base leading-7 text-gray-200">{text1}</p>}

      {
        content.descriptions.map((description) => (
          <p class="mt-6 text-base leading-7 text-gray-200">{description}</p>
        ))
      }
    </div>
  </div>
</div>
