---
import ImageComp from "../ImageComp.astro";
const example = {
  upperTitle: "Build confidence in your craft",
  title: "Do You Have What It Takes To Be A Pilot?",
  haveIcon: true,
  descriptions: [
    "Begin your path to becoming a pilot with our brief quiz. Our quiz is designed to look at your aviation-related knowledge and aptitude, alongside your unique personality traits and interests, to provide insights into whether a future in aviation aligns with your aspirations.",
  ],
  imagePath:
    "/src/assets/summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks.webp",
  imageAlt:
    "summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks",
};
const { city, text1, content = example } = Astro.props;
---

<div class="relative bg-gray-900 flex flex-row-reverse">
  <div class="bg-red-600 w-full md:w-1/2">
    <ImageComp
      styles="h-full w-full object-cover object-left"
      imagePath={content.imagePath ||
        "/src/assets/summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks.webp"}
      imageAlt={content.imageAlt ||
        "summit-flight-academy-lees-summit-kansas-city-missoury-pilot-training-flight-students-on-the-runway-pre-flight-checks"}
      quality="90"
    />
  </div>
  <div class="w-full md:w-1/2 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="w-full text-center lg:text-right">
      <h2 class="text-2xl font-semibold leading-7 text-gray-400">
        {content.upperTitle}
      </h2>
      <p
        class="my-6 block text-3xl font-bold tracking-tight text-white sm:text-4xl"
      >
        {
          city
            ? `Do You Have What It Takes To Be A Pilot near ${city}?`
            : content.title
        }
      </p>
      {
        text1 && (
          <p class="py-6 block text-base leading-7 text-gray-200">{text1}</p>
        )
      }

      {
        content.descriptions.map((description) => (
          <div class="flex justify-end items-center py-2 gap-4 pl-6">
            {content.haveIcon && (
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="h-6 w-6 text-red-600 bg-white rounded-full border-red-600 border-2"
              >
                <path
                  fill="currentColor"
                  d="m8.4 17l3.6-3.6l3.6 3.6l1.4-1.4l-3.6-3.6L17 8.4L15.6 7L12 10.6L8.4 7L7 8.4l3.6 3.6L7 15.6zm3.6 5q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"
                />
              </svg>
            )}

            <p class=" text-lg  text-gray-200">
              <Fragment set:html={description} />
            </p>
          </div>
        ))
      }
    </div>
  </div>
</div>
