<section id="commercial-pilot-road">
  <div class="bg-white py-16 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto w-full lg:mx-0">
        <h2
          class="xl:text-6xl text-5xl font-bold tracking-tight text-main-red text-center"
        >
          Initial Steps to Becoming a CFI
        </h2>
        <p class="mt-4 text-lg leading-8 text-black text-center">
          How to start training with Summit Flight Academy
        </p>
      </div>
      <div>
        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              01
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Meet the Pre-Requisites
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                The journey to becoming a Certified Flight Instructor begins
                with meeting the prerequisites set forth by the Federal Aviation
                Administration (FAA). To embark on this rewarding path, you must
                first obtain a Commercial Pilot Certificate and accumulate the
                required flight hours, typically 250 hours or more.
                Additionally, you'll need to possess a valid medical
                certificate, demonstrating your physical and mental fitness for
                flight operations.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-kansas-city-cfi-instructor-training-pilot-student-and-instructor-simplifly-mesa-multi-engine-rating.webp"
              alt="Certified Flight Instructor and student shaking hands at Summit Flight Academy's office"
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              02
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Ground Instruction and Knowledge Test
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                Our comprehensive ground instruction covers a wide range of
                topics, including flight principles, aerodynamics, aircraft
                systems, regulations, and effective teaching methodologies.
                You'll delve into the intricacies of flight instruction,
                learning how to communicate complex concepts effectively and
                create engaging learning experiences for your future students.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                Upon completing the ground instruction, you'll be prepared to
                take the FAA's Certified Flight Instructor Airplane knowledge
                test. This written exam assesses your understanding of the
                subject matter and demonstrates your readiness to progress to
                the next stage of training.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-kansas-city-cfi-instructor-training-pilot-student-and-instructor2-simplifly-arizona-flight-school.webp"
              alt="Certified Flight Instructor and student smiling to the camera while in the cockpit flying the plane"
            />
          </div>
        </div>

        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              03
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Practical Flight Training
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                At Summit Flight Academy, we believe in providing hands-on,
                practical flight training experiences that mirror real-world
                scenarios. Under the guidance of our experienced CFI
                instructors, you'll refine your flying skills and develop the
                ability to teach effectively in the air. This phase of your
                training will focus on techniques for providing clear and
                concise in-flight instruction, evaluating student performance,
                and creating a positive learning environment.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-kansas-city-cfi-instructor-training-pilot-student-and-instructor3-simplifly-arizona-flight-training.webp"
              alt="Pilot student standing on an aircraft's right wing"
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              04
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Complete Your Checkride
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                The culmination of your CFI training is the FAA's Certified
                Flight Instructor Checkride. This practical evaluation assesses
                your ability to teach, provide in-flight instruction, and
                evaluate student pilots' skills. Our dedicated instructors will
                ensure that you are thoroughly prepared for this critical
                assessment, providing you with the confidence and knowledge
                necessary to excel during your checkride.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-kansas-city-cfi-instructor-training-pilot-student-and-instructor4-simplifly-mesa-certified-flight-instructor.webp"
              alt="Certified Flight Instructor and student shaking hands while smiling at the camera"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
