<section id="commercial-pilot-road">
  <div class="bg-white py-16 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto w-full lg:mx-0">
        <h2
          class="xl:text-6xl text-5xl font-bold tracking-tight text-main-red text-center"
        >
          Becoming a Commercial Pilot
        </h2>
        <p class="mt-4 text-lg leading-8 text-black text-center">
          How to start training with Summit Flight Academy
        </p>
      </div>
      <div>
        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 left-0 text-9xl font-light text-main-red/20"
            >
              1
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Gain Required Flight Experience
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                The path towards a commercial pilot certificate begins with
                accumulating the required 250 flight hours, a critical aspect of
                your journey. At Summit Flight Academy, our structured program
                provides a clear pathway to reach this milestone through a
                combination of comprehensive flight training, cross-country
                missions, and solo flight experiences. These carefully curated
                experiences will enhance your piloting skills, instill
                confidence, and cultivate the proficiency that characterizes a
                seasoned commercial pilot.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                Our program is tailored to ensure you are well-prepared to meet
                the demanding requirements of the aviation industry and excel in
                your future commercial pilot career.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-very-happy-pilot-inside-piper-cherokee-cockpit-seen-trough-open-door.webp"
              alt="Smiling pilot inside Piper Cherokee cockpit seen trough open door"
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red/20"
            >
              2
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Pass the Written Exam
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                At Summit Flight Academy, we understand the importance of a
                solid theoretical foundation for safe and knowledgeable
                commercial piloting. Our comprehensive ground instruction will
                cover a broad spectrum of topics, including aviation
                regulations, flight operations, crew responsibilities, aircraft
                maintenance requirements, air traffic control procedures, and
                the legal framework governing compensation for commercial
                services.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                The written examination will assess your understanding of these
                critical subjects, ensuring you possess a comprehensive
                knowledge of legal compliance, meteorology, navigation, and
                more, to prepare you for a successful career in aviation. Our
                experienced instructors will provide personalized support and
                resources to help you excel in this exam, laying the groundwork
                for your success as a skilled and responsible commercial pilot.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-group-of-pilot-students-on-runway-pre-flight-checks.webp"
              alt="Flight students on the runway pre flight checks"
            />
          </div>
        </div>

        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 left-0 text-9xl font-light text-main-red/20"
            >
              3
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Complete Requirements
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                Achieving your Commercial Pilot Certificate at Summit Flight
                Academy involves fulfilling specific flight requirements,
                including demanding long cross-country flights and other
                critical experiences. Our commercial program ensures that you
                master advanced flight maneuvers and precise navigation
                techniques to complete these cross-country missions
                successfully.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                With your long cross-country flight, you'll demonstrate your
                ability to plan and execute complex missions, showcasing your
                aptitude for real-world challenges. Our structured curriculum
                guides you through extensive cross-country missions, providing
                hands-on exposure to diverse flying conditions. We prioritize
                safety and precision, ensuring you are well-prepared to excel in
                your commercial pilot checkride and embark on a successful
                career in aviation.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-happy-pilot-shaking-hands-with-flight-instructor-receiving-certificate.webp"
              alt="Student shaking hands with flight instructor while receiving certificate"
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red/20"
            >
              4
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Pass Your Checkride
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                The culmination of your commercial pilot training at Summit
                Flight Academy is the checkride, a pivotal moment that showcases
                the culmination of your training and expertise. Our experienced
                instructors will provide comprehensive preparation, ensuring you
                are thoroughly ready to excel in this crucial evaluation.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                During the checkride, you'll embark on a journey that highlights
                your proficiency, aeronautical decision-making skills, and your
                ability to handle real-world scenarios with confidence and
                composure. This is your opportunity to demonstrate your
                readiness to transform from a dedicated trainee into a skilled
                and certified commercial pilot, fully prepared to embrace the
                challenges and opportunities of a rewarding aviation career.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                With a paramount focus on safety and precision, our instructors
                will guide you every step of the way, ensuring you confidently
                take to the skies and showcase your abilities to the examiner.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/summit-flight-academy-missoury-happy-pilot-standing-on-left-wing-piper-cherokee-front-view.webp"
              alt="Front view of a smiling pilot standing on the right wing of a Piper Cherokee"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
