---

---

<section
  class="flex flex-col items-center bg-cover bg-center bg-[url('/img/discovery-flight-cta.webp')] text-white relative"
  id="discovery-flight-cta"
>
  <div class="absolute bg-black/40 w-full h-full z-0"></div>
  <div class="lg:w-1/2 flex flex-col items-center py-28 z-10">
    <div class="max-w-5xl px-5 flex flex-col gap-16 items-center">
      <h2 class="text-5xl font-semibold text-center tracking-tight">
        Come Fly with Red Arrow Flight Academy
      </h2>
      <h3 class="font-semibold text-3xl text-center">
        See if pilot training is the right path for you
      </h3>
      <a href="/discovery-flight-form" target="_blank" class="">
        <div class="btn-red">Book a Discovery Flight</div>
      </a>
    </div>
  </div>
</section>
