---
const { image, alt, title, description, reverse = false } = Astro.props;
---

<div
  class={`flex justify-center flex-col ${reverse ? "lg:flex-row-reverse" : "lg:flex-row"} items-center w-fit mx-auto p-5 max-w-4xl`}
>
  <img
    src={image.src}
    alt={alt}
    class="h-56 lg:h-72 rounded-full aspect-square object-cover shadow-lg shadow-black"
  />

  <div class="p-10 flex flex-col items-center">
    <h2 class="text-3xl font-semibold text-center tracking-tight">
      {title}
    </h2>
    <div class="text-gray-800 tracking-wider">
      <p class="pt-5">
        {description}
      </p>
    </div>
  </div>
</div>
