---
const today = new Date();
---

<footer
  class="bg-gradient-to-br from-black to-gray-950"
  aria-labelledby="footer-heading"
>
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-10 sm:pt-24 lg:px-8 lg:pt-14">
    <div class="xl:grid xl:grid-cols-3 xl:gap-8">
      <div class="space-y-8">
        <a href="/">
          <img
            class="h-20 hover:brightness-125 duration-300 hover:scale-105 cursor-pointer"
            src="/red-arrow-logo.webp"
            alt="Red Arrow Logo"
          />
        </a>
        <p class="text-sm leading-6 text-gray-300 tracking-wider">
          Red Arrow Flight Academy is the leading flight school in the greater
          El Paso, TX area. As a Part 141 Cessna Pilot Center Flight School, we
          take student pilots from zero flight experience and train them to
          become safe and proficient pilots. Red Arrow Flight Academy is the
          place to be if you're looking to fly.
        </p>
        <div class="flex space-x-6">
          <a
            href="https://www.facebook.com/redarrowflightacademy/"
            target="_blank"
            rel="noopener"
            class="text-gray-500 hover:text-red-500 duration-300"
          >
            <span class="sr-only">Facebook</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="https://www.instagram.com/flyredarrow/"
            target="_blank"
            rel="noopener"
            class="text-gray-500 hover:text-red-500 duration-300"
          >
            <span class="sr-only">Instagram</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 24 24"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M12.315 2c2.43 0 2.784.013 3.808.06 1.064.049 1.791.218 2.427.465a4.902 4.902 0 011.772 1.153 4.902 4.902 0 011.153 1.772c.247.636.416 1.363.465 2.427.048 1.067.06 1.407.06 4.123v.08c0 2.643-.012 2.987-.06 4.043-.049 1.064-.218 1.791-.465 2.427a4.902 4.902 0 01-1.153 1.772 4.902 4.902 0 01-1.772 1.153c-.636.247-1.363.416-2.427.465-1.067.048-1.407.06-4.123.06h-.08c-2.643 0-2.987-.012-4.043-.06-1.064-.049-1.791-.218-2.427-.465a4.902 4.902 0 01-1.772-1.153 4.902 4.902 0 01-1.153-1.772c-.247-.636-.416-1.363-.465-2.427-.047-1.024-.06-1.379-.06-3.808v-.63c0-2.43.013-2.784.06-3.808.049-1.064.218-1.791.465-2.427a4.902 4.902 0 011.153-1.772A4.902 4.902 0 015.45 2.525c.636-.247 1.363-.416 2.427-.465C8.901 2.013 9.256 2 11.685 2h.63zm-.081 1.802h-.468c-2.456 0-2.784.011-3.807.058-.975.045-1.504.207-1.857.344-.467.182-.8.398-1.15.748-.35.35-.566.683-.748 1.15-.137.353-.3.882-.344 1.857-.047 1.023-.058 1.351-.058 3.807v.468c0 2.456.011 2.784.058 3.807.045.975.207 1.504.344 1.857.182.466.399.8.748 1.15.35.35.683.566 1.15.748.353.137.882.3 1.857.344 1.054.048 1.37.058 4.041.058h.08c2.597 0 2.917-.01 3.96-.058.976-.045 1.505-.207 1.858-.344.466-.182.8-.398 1.15-.748.35-.35.566-.683.748-1.15.137-.353.3-.882.344-1.857.048-1.055.058-1.37.058-4.041v-.08c0-2.597-.01-2.917-.058-3.96-.045-.976-.207-1.505-.344-1.858a3.097 3.097 0 00-.748-1.15 3.098 3.098 0 00-1.15-.748c-.353-.137-.882-.3-1.857-.344-1.023-.047-1.351-.058-3.807-.058zM12 6.865a5.135 5.135 0 110 10.27 5.135 5.135 0 010-10.27zm0 1.802a3.333 3.333 0 100 6.666 3.333 3.333 0 000-6.666zm5.338-3.205a1.2 1.2 0 110 2.4 1.2 1.2 0 010-2.4z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
          <a
            href="https://www.linkedin.com/company/red-arrow-aviation/"
            target="_blank"
            rel="noopener"
            class="text-gray-500 hover:text-red-500 duration-300"
          >
            <span class="sr-only">LinkedIn</span>
            <svg
              class="h-6 w-6"
              fill="currentColor"
              viewBox="0 0 50 50"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"
                clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
      </div>
      <div class="mt-16 grid grid-cols-2 gap-8 xl:col-span-2 xl:mt-0">
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3
              class="text-xl tracking-tight font-semibold leading-6 text-white"
            >
              Flight Programs
            </h3>
            <ul role="list" class="mt-6 space-y-4 tracking-wider">
              <li>
                <a
                  href="/flight-programs/new-to-flying"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >New to Flying?</a
                >
              </li>
              <li>
                <a
                  href="/flight-programs/university-program"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >University Program</a
                >
              </li>
              <li>
                <a
                  href="/flight-programs/international-program"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >International Program</a
                >
              </li>
              <li>
                <a
                  href="/flight-programs/military-rotor-transition"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Military/Rotor Transition</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3
              class="text-xl tracking-tight font-semibold leading-6 text-white"
            >
              Training Courses
            </h3>
            <ul role="list" class="mt-6 space-y-4 tracking-wider">
              <li>
                <a
                  href="/flight-programs/training-courses#courseList"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Private Pilot</a
                >
              </li>
              <li>
                <a
                  href="/flight-programs/training-courses#courseList"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Instrument Rating</a
                >
              </li>
              <li>
                <a
                  href="/flight-programs/training-courses#courseList"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Commercial Pilot</a
                >
              </li>
              <li>
                <a
                  href="/flight-programs/training-courses#courseList"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >CFI</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="md:grid md:grid-cols-2 md:gap-8">
          <div>
            <h3
              class="text-xl tracking-tight font-semibold leading-6 text-white"
            >
              Contact Us
            </h3>
            <ul role="list" class="mt-6 space-y-4 tracking-wider">
              <li>
                <a
                  href="/enrollment"
                  target="_blank"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Enroll Today</a
                >
              </li>
              <li>
                <a
                  href="/discovery-flight-form"
                  target="_blank"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Discovery Flight</a
                >
              </li>
              <li>
                <a
                  href="#contactUs"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Visit School</a
                >
              </li>
              <li>
                <a
                  href="#contactUs"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Contact Form</a
                >
              </li>
            </ul>
          </div>
          <div class="mt-10 md:mt-0">
            <h3
              class="text-xl tracking-tight font-semibold leading-6 text-white"
            >
              About
            </h3>
            <ul role="list" class="mt-6 space-y-4 tracking-wider">
              <li>
                <a
                  href="/about/our-story"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Our Story</a
                >
              </li>
              <li>
                <a
                  href="/about/our-team"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Our Team</a
                >
              </li>
              <li>
                <a
                  href="/about/our-fleet"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Our Fleet</a
                >
              </li>
              <li>
                <a
                  href="/blog"
                  class="text-sm leading-6 text-gray-300 hover:text-red-500 duration-300"
                  >Blog</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="text-xs leading-5 text-gray-400">
        &copy; {today.getFullYear()}
        <a href="/">Red Arrow Flight Academy</a>. All rights reserved.
      </p>
      <a href="" class="text-xs leading-5 text-gray-400"
        >Privacy Policy and Terms of Service</a
      >
    </div>
  </div>
</footer>
