<div class="bg-white lg:py-16 py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-base font-semibold leading-7 text-red-600">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Enroll Today
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        eos, temporibus delectus numquam eveniet, ducimus aspernatur quisquam
        culpa impedit consequatur, harum veritatis. Distinctio quod voluptas
        culpa obcaecati magni, optio amet maiores, repellendus assumenda sint
        hic eum.
      </p>
    </div>
    <div class="mx-auto mt-12 max-w-2xl sm:mt-20 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2"
      >
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            New Student Enrollment Application
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form if you are new to Summit Flight and wish to
            enroll in a training program (e.g. Private Pilot, Instrument Rating,
            etc.).
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/SFAEnrollmentApplication/formperma/SsuY65oz8e9eCTBuFmNgC76-BBHa5xb_M5AyU8JN3FA"
              target="_blank"
              class="absolute bottom-12 btn-red">Apply</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            Rental Application
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form if you are an existing pilot (private or above)
            and wish to get checked out to rent our aircraft.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/SFARentalApplication/formperma/u_yUY7ZskEDNvEzx8P4BhNgX1rPaey6LAG_j3dhDnj0"
              target="_blank"
              class="absolute bottom-12 btn-red">Apply</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            New Customer Flight Review or IPC Request
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form if you are a NEW customer and wish to complete
            an Instrument Proficiency Check or Flight Review. You will have the
            option to be approved as a renter, if desired.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/SFANewCustomerIPCFlightReviewIntakeForm/formperma/nlP-M7Ggp0UUerIiO0fBKnWzOXYrB8zRJ7d7e0NZSBY"
              target="_blank"
              class="absolute bottom-12 btn-red">Request</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            Existing Customer Flight Review or IPC Request
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form if you are an existing customer and wish to
            complete an Instrument Proficiency Check or Flight Review.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/SFAExistingCustomerIPCFlightReviewForm/formperma/teRuvmH6cpZotqn-lDq-l39Hzqm2ZADjelFLHhj3ZAI"
              target="_blank"
              class="absolute bottom-12 btn-red">Request</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            Liability Release Form
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            This form is available for customers needing to complete a liability
            release form to participate in an introductory or discovery flight.
            This form is included in new student and rental applications already
            and does not need to be completed separately.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/LiabilityAgreement/formperma/ACm-MKrCxagTAszh8Qft0FWppBVJD_dv1XxSdZuHoaM"
              target="_blank"
              class="absolute bottom-12 btn-red">Get Started</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            CFI Application
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            From time to time we are in need of great instructors who hold a CFI
            + Instrument certificate. If you are a CFI-I and wish to be
            considered for future instructing opportunities, please complete
            this form.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/JobApplication/formperma/nAfp7M8R0PYCdmjJ9eKGj34r6CvGzJ0jT91kZ78hw0Q"
              target="_blank"
              class="absolute bottom-12 btn-red">Apply</a
            >
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
