<div class="bg-white lg:py-16 py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-base font-semibold leading-7 text-red-600">
        Forms and Applications
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"
      >
        Submit Your Interest
      </p>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        Thanks for your interest in Summit Flight. Here you will find forms to
        request enrollment, complete a rental application, request a flight
        review or IPC, and more!
      </p>
    </div>
    <div class="mx-auto mt-12 max-w-2xl sm:mt-20 lg:max-w-4xl">
      <dl
        class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-8 lg:max-w-none lg:grid-cols-2"
      >
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            Interested in Enrolling at Summit?
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form to submit your interest in enrolling at Summit
            Flight Academy and indicate with training program you are looking
            for (e.g. Private Pilot, Instrument Rating, etc.)
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="/enrollment"
              target="_blank"
              class="absolute bottom-12 btn-red">Enroll Now</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            Rent Aircraft with Us
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form if you are a current pilot and wish to rent <a
              href="/about/our-fleet"
              class="text-red-600 hover:text-red-800">our aircraft</a
            >. Please note that this is a rental request. We will confirm the
            details with you over the phone.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/SFARentalApplication/formperma/u_yUY7ZskEDNvEzx8P4BhNgX1rPaey6LAG_j3dhDnj0"
              target="_blank"
              class="absolute bottom-12 btn-red">Apply to Rent</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            NEW Customer Flight Review / IPC Request
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form if you are a NEW customer and wish to complete
            a Flight Review or Instrument Proficiency Check (IPC). You will also
            have the option to be approved as a renter if desired.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/SFANewCustomerIPCFlightReviewIntakeForm/formperma/nlP-M7Ggp0UUerIiO0fBKnWzOXYrB8zRJ7d7e0NZSBY"
              target="_blank"
              class="absolute bottom-12 btn-red">Request Check</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            EXISTING Customer Flight Review / IPC Request
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            Please use this form if you are an EXISTING customer and wish to
            complete a Flight Review or Instrument Proficiency Check (IPC).
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/SFAExistingCustomerIPCFlightReviewForm/formperma/teRuvmH6cpZotqn-lDq-l39Hzqm2ZADjelFLHhj3ZAI"
              target="_blank"
              class="absolute bottom-12 btn-red">Request Check</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            Liability Release Form
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            This form is available for customers needing to complete a liability
            release form to participate in an introductory or discovery flight.
            This form is included in new student and rental applications already
            and does not need to be completed separately.
          </dd>
          <div class="mt-9 flex justify-center">
            <a
              href="https://forms.zohopublic.com/SummitFlight/form/LiabilityAgreement/formperma/ACm-MKrCxagTAszh8Qft0FWppBVJD_dv1XxSdZuHoaM"
              target="_blank"
              class="absolute bottom-12 btn-red">Submit Separately</a
            >
          </div>
        </div>
        <div
          class="relative bg-gray-100 hover:bg-gray-200 transition duration-200 p-12 rounded-lg text-center align-middle pb-24"
        >
          <dt class="text-xl font-semibold leading-7 text-gray-900">
            CFI Application
          </dt>
          <dd class="mt-4 text-base leading-7 text-gray-600">
            From time to time we need to add more great instructors who hold a
            CFI + Instrument certificate. If you are a CFII and wish to be
            considered for future instructing opportunities, please visit our
            Teach at Summit page, review the qualifications we look for, and
            submit your interest from that page.
          </dd>
          <div class="mt-9 flex justify-center">
            <a href="/career/teach-at-summit" class="absolute bottom-12 btn-red"
              >Teach at Summit</a
            >
          </div>
        </div>
      </dl>
    </div>
  </div>
</div>
