---
import ContactUsModalButton from "./ContactUsModalButton";
---

<div class="bg-gray-800 py-16 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto w-full lg:mx-0">
      <h2
        class="xl:text-6xl capitalize text-5xl font-bold tracking-tight text-gray-200 text-center"
      >
        Start Flying
      </h2>
      <p class="mt-2 text-xl leading-8 text-white text-center">
        How to start training with Summit Flight Academy
      </p>
    </div>
    <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-none">
      <dl
        class="grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:max-w-none lg:grid-cols-4 md:grid-cols-2"
      >
        <div
          class="flex flex-col bg-gray-700 p-9 rounded-xl hover:bg-gray-600 transition duration-300"
        >
          <dt class="text-base font-semibold leading-7 text-gray-200">
            <div
              class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-red-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
                ></path>
              </svg>
            </div>
            Meet the team
          </dt>
          <dd
            class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-400"
          >
            <p class="flex-auto">
              Speak with a member of the Summit Flight Academy team and explore
              our offerings for recreational and career pilot training.
            </p>
            <p class="mt-6">
              <!-- <a
                href="#"
                class="text-sm font-semibold leading-6 text-red-100 hover:text-red-500"
                >Contact Us<span aria-hidden="true">→</span></a
              > -->
              <ContactUsModalButton
                client:visible
                btnStyle="text-sm font-semibold leading-6 text-red-100 hover:text-red-500"
                btnText="→"
              />
            </p>
          </dd>
        </div>
        <div
          class="flex flex-col bg-gray-700 p-9 rounded-xl hover:bg-gray-600 transition duration-300"
        >
          <dt class="text-base font-semibold leading-7 text-gray-200">
            <div
              class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-red-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 6.75V15m6-6v8.25m.503 3.498 4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 0 0-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0Z"
                ></path>
              </svg>
            </div>
            Visit Summit
          </dt>
          <dd
            class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-400"
          >
            <p class="flex-auto">
              Come visit our facilities at Lee's Summit Airport (KXLT) and fly
              with one of our CFIs to experience training with Summit Flight
              Academy.
            </p>
            <p class="mt-6">
              <a
                href="/about/visit-us/"
                class="text-sm font-semibold leading-6 text-red-100 hover:text-red-500"
                >Visit Us<span aria-hidden="true">→</span></a
              >
            </p>
          </dd>
        </div>
        <div
          class="flex flex-col bg-gray-700 p-9 rounded-xl hover:bg-gray-600 transition duration-300"
        >
          <dt class="text-base font-semibold leading-7 text-gray-200">
            <div
              class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-red-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10"
                ></path>
              </svg>
            </div>
            Enroll in a program
          </dt>
          <dd
            class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-400"
          >
            <p class="flex-auto">
              Choose the program that fits your schedule and flight motivations
              the best. We have something for everyone, from private pilot to
              career.
            </p>
            <p class="mt-6">
              <a
                href="/flight-programs/private-pilot-training/"
                class="text-sm font-semibold leading-6 text-red-100 hover:text-red-500"
                >Our Training<span aria-hidden="true">→</span></a
              >
            </p>
          </dd>
        </div>
        <div
          class="flex flex-col bg-gray-700 p-9 rounded-xl hover:bg-gray-600 transition duration-300"
        >
          <dt class="text-base font-semibold leading-7 text-gray-200">
            <div
              class="mb-6 flex h-10 w-10 items-center justify-center rounded-lg bg-red-600"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
                ></path>
              </svg>
            </div>
            Start flying
          </dt>
          <dd
            class="mt-1 flex flex-auto flex-col text-base leading-7 text-gray-400"
          >
            <p class="flex-auto">
              Get started with your training! No matter where you're starting
              from, Summit Flight Academy is ready to take you to those heights.
            </p>
            <p class="mt-6">
              <a
                href="enrollment"
                target="_blank"
                class="text-sm font-semibold leading-6 text-red-100 hover:text-red-500"
                >Enroll Now<span aria-hidden="true">→</span></a
              >
            </p>
          </dd>
        </div>
      </dl>
    </div>
  </div>
</div>
