<section id="become-a-pilot-road">
  <div class="bg-white py-16 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto w-full lg:mx-0">
        <h2
          class="xl:text-6xl text-5xl font-bold tracking-tight text-main-red text-center"
        >
          Obtaining a Multi Engine Rating
        </h2>
        <p class="mt-4 text-lg leading-8 text-black text-center">
          How to start training with Summit Flight Academy
        </p>
      </div>
      <div>
        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              01
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Verify Eligibility and Pre-Requisites
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                Before beginning your multi-engine training at Summit Flight
                Academy, ensure you meet all eligibility requirements. These
                include having a valid pilot certificate, an up-to-date medical
                certification, and basic proficiency in single-engine flight
                maneuvers. You will also need to provide necessary documentation
                such as a logbook, and a valid ID, and complete pre-training
                preparations like familiarization with the Piper Twin Comanche
                (PA-30) and its systems.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/339961925_574394171336149_7738626317862301808_n(1).jpg"
              alt=""
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              02
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Engage in Ground and Simulator Training
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                Your journey starts with comprehensive ground lessons covering
                multi-engine aerodynamics, systems, and emergency procedures,
                along with simulator sessions to practice these concepts in a
                controlled environment. This phase is crucial for building a
                solid theoretical and practical foundation before actual flight
                training.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/339913566_176555658577865_3228402682613790835_n(1).jpg"
              alt=""
            />
          </div>
        </div>

        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              03
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Complete Flight Training
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                Flight training consists of several sessions where you will
                operate a multi-engine aircraft under the supervision of
                experienced instructors. You will practice maneuvers, emergency
                procedures, and engine management across approximately 8.5 hours
                of flight time. This hands-on experience is designed to refine
                your skills and prepare you for the checkride.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/c1b522_d5934850634b48a49c6308561f6d733a~mv2.webp"
              alt=""
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              04
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Pass Evaluations and Obtain Certification
              </h3>
              <p class="text-lg leading-7 text-gray-800">
                The final step involves passing a series of evaluations,
                including a written test, an oral exam, and a practical flight
                test. These assessments are aimed at confirming your knowledge
                and ability to safely operate multi-engine aircraft. Upon
                successful completion, you will receive your Multi-Engine
                Rating, allowing you to pilot multi-engine aircraft confidently.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/431460254_324818130583622_6691993015312115595_n copy.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
