<section id="become-a-pilot-road">
  <div class="bg-white py-16 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto w-full lg:mx-0">
        <h2
          class="xl:text-6xl text-5xl font-bold tracking-tight text-main-red text-center"
        >
          Obtaining a Multi Engine Rating
        </h2>
        <p class="mt-4 text-lg leading-8 text-black text-center">
          How to start training with Summit Flight Academy
        </p>
      </div>
      <div>
        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              01
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Meet Your Eligibility Requirements
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                To embark on your multi-engine training journey at Summit Flight
                Academy, you must meet specific eligibility criteria. These
                typically include holding a valid Private Pilot Certificate and
                a current medical certificate. These prerequisites ensure that
                you possess the fundamental skills and medical clearance
                required for safe multi-engine operations.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/339961925_574394171336149_7738626317862301808_n(1).jpg"
              alt=""
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              02
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Ground School and Knowledge Acquisition
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                Our comprehensive ground school curriculum covers a wide range
                of topics essential for multi-engine aircraft operations. You'll
                delve into the intricacies of multi-engine systems,
                aerodynamics, and procedures, gaining a deep understanding of
                the unique challenges and requirements associated with these
                advanced aircraft.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                Our experienced instructors will guide you through these
                concepts, ensuring you develop a solid foundation of knowledge
                before transitioning to practical flight training.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/339913566_176555658577865_3228402682613790835_n(1).jpg"
              alt=""
            />
          </div>
        </div>

        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              03
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Practical Flight Training
              </h3>
              <p class="text-lg leading-8 text-gray-800">
                At Summit Flight Academy, we believe in providing hands-on,
                practical training experiences that mirror real-world scenarios.
                During this phase, you'll log a series of flight hours,
                typically ranging from 10 to 15 hours, under the guidance of our
                certified multi-engine instructors.
              </p>
              <p class="mt-2 text-lg leading-8 text-gray-800">
                Throughout these flights, you'll develop proficiency in
                multi-engine aircraft operations, including engine-out
                procedures, system management, and emergency situations. Our
                instructors will closely monitor your progress, providing
                valuable feedback and ensuring that you gain the confidence and
                skills necessary to excel in multi-engine operations.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/c1b522_d5934850634b48a49c6308561f6d733a~mv2.webp"
              alt=""
            />
          </div>
        </div>

        <div
          class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0"
        >
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              04
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Evaluations and Certifications
              </h3>
              <p class="text-lg leading-7 text-gray-800">
                The final step in obtaining your Multi-Engine Rating is
                completing the required evaluations. These assessments may
                include a written exam, oral examination, and practical flight
                test, all designed to evaluate your knowledge, decision-making
                abilities, and overall proficiency in multi-engine aircraft
                operations.
              </p>
              <p class="mt-2 text-lg leading-7 text-gray-800">
                Upon successful completion of these evaluations, you'll be
                awarded your Multi-Engine Rating certification, officially
                granting you the privilege to act as pilot in command of
                multi-engine aircraft.
              </p>
              <p class="mt-2 text-lg leading-7 text-gray-800">
                At Summit Flight Academy, our commitment to excellence extends
                beyond the classroom and into the skies. Our experienced
                instructors and comprehensive training program will equip you
                with the knowledge, skills, and confidence necessary to navigate
                the complexities of multi-engine aircraft operations with ease.
                Unlock your potential and take your aviation career to new
                heights with our Multi-Engine Rating training.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/431460254_324818130583622_6691993015312115595_n copy.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
