---

---

<div
  class="absolute -bottom-16 py-5 px-5 left-5 right-5 mx-auto md:px-20 max-w-5xl flex flex-col md:gap-5 md:flex-row items-center bg-white rounded-xl shadow-md shadow-gray-400"
>
  <div class="flex-1 h-20 border-gray-400 md:border-r-2 flex items-center">
    <p class="hidden md:block text-xl">Proudly Partnered with:</p>
  </div>
  <div class="flex-[2_2_0] flex flex-row gap-1 w-full justify-around">
    <img
      src="/purdue-global.webp"
      alt="Purdue Global Logo"
      class="h-16 w-16 md:h-20 md:w-20"
    />
    <img
      src="/cessna-pilot-center-logo.webp"
      alt="Cessna Pilot Center Logo"
      class="h-16 w-16 md:h-20 md:w-20"
    />
    <img
      src="/meritize-logo.webp"
      alt="Meritize Logo"
      class="h-16 w-16 md:h-20 md:w-20"
    />
    <img
      src="/department-of-veterans-affairs.webp"
      alt="Department of Veterans Affairs Logo"
      class="h-16 w-16 md:h-20 md:w-20"
    />
  </div>
</div>
