<section id="become-a-pilot-road">
  <div class="bg-white py-16 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto w-full lg:mx-0">
        <h2
          class="xl:text-6xl text-5xl font-bold tracking-tight text-main-red text-center"
        >
          Becoming a Private Pilot
        </h2>
        <p class="mt-4 text-lg leading-8 text-black text-center">
          How to start training with Summit Flight Academy
        </p>
      </div>
      <div>
        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              01
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Medical Exam
              </h3>
              <p class="text-xl leading-8 text-gray-800">
                Before embarking on the journey to become a private pilot,
                aspiring aviators must undergo a comprehensive medical
                examination. At Summit Flight Academy, we understand the
                importance of this critical step and guide our students through
                the process, ensuring they possess the physical and mental
                aptitude required for safe flight operations. The medical exam
                assesses various aspects, including vision, hearing,
                cardiovascular health, and overall fitness. Our instructors
                provide valuable insights, helping students prepare for this
                essential examination and demonstrating their readiness to take
                on the responsibilities that come with piloting an aircraft.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/c1b522_d5934850634b48a49c6308561f6d733a~mv2.webp"
              alt=""
            />
          </div>
        </div>

        <div class="my-8 flex flex-wrap justify-center lg:flex-row-reverse gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3
              class="absolute top-0 right-0 text-9xl font-light text-main-red"
            >
              02
            </h3>
            <div class="text-center lg:text-left pl-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Written Exam
              </h3>
              <p class="text-xl leading-8 text-gray-800">
                Knowledge is the cornerstone of any successful pilot's training,
                and the written exam is a testament to this principle. At Summit
                Flight Academy, our experienced instructors offer comprehensive
                ground instruction, covering a wide range of topics from
                aviation regulations and aerodynamics to meteorology and
                navigation. We provide our students with the necessary resources
                and support to dedicate themselves to diligent study, mastering
                the intricacies of flight theory and regulations. With our
                guidance, aspiring pilots can confidently approach the written
                exam, prepared to demonstrate their theoretical proficiency and
                instill confidence in their ability to make informed decisions
                during flight operations.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/c1b522_bf00a9f84c664b33b1b4d95170967b51~mv2 (1).webp"
              alt=""
            />
          </div>
        </div>

        <div class="my-8 flex flex-wrap justify-center gap-8 lg:gap-0">
          <div
            class="relative pt-32 lg:pt-16 flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <h3 class="absolute top-0 left-0 text-9xl font-light text-main-red">
              03
            </h3>
            <div class="text-center lg:text-right pr-6">
              <h3 class="text-3xl font-bold tracking-tight text-main-red">
                Flight Exam (Practical Exam)
              </h3>
              <p class="text-xl leading-8 text-gray-800">
                The culmination of a private pilot's training is the practical
                flight exam, also known as the "checkride." At Summit Flight
                Academy, our state-of-the-art fleet of well-maintained Piper
                aircraft provides the ideal platform for aspiring pilots to put
                their skills to the ultimate test. You'll demonstrate your
                proficiency in various maneuvers and procedures during actual
                flight. The flight exam is a true test of ability, and our
                commitment to personalized instruction ensures that each student
                is ready to integrate their theoretical knowledge with practical
                application. Successful completion of this exam at Summit Flight
                Academy is a testament to your mastery of the aircraft and their
                readiness to take to the skies as a certified private pilot.
              </p>
            </div>
          </div>
          <div
            class="flex flex-col justify-center items-center w-full lg:w-1/2"
          >
            <img
              class="object-cover rounded"
              src="/img/c1b522_5efb8f74c55148159f079bee61b29c13~mv2.webp"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
