<div class="bg-white">
  <div class="mx-auto max-w-7xl px-6 py-24 sm:py-32 lg:px-8 lg:py-40">
    <div class="mx-auto max-w-4xl divide-y divide-gray-900/10">
      <h2 class="text-4xl font-bold leading-10 tracking-tight text-gray-900">
        Private Pilot FAQs
      </h2>
      <dl class="mt-10 space-y-6 divide-y divide-gray-900/10">
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-0"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >What are the requirements to be a private pilot?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-0">
            <p class="text-base leading-7 text-gray-600">
              The FAA has the following requirements to become a private pilot.
            </p>
            <ul class="list-disc">
              <li class="text-base leading-7 text-gray-600">
                Be at least 17 years old.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Be able to read, speak, write, and understand the English
                language.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Hold at least a third-class medical certificate.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Receive and log ground training from an authorized instructor or
                complete a home-study course.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Pass a knowledge.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Pass the practical test (aka checkride)
              </li>
            </ul>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >Is a private pilot certificate right for you?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              A private pilot certificate is best for pilots that.
            </p>
            <ul class="list-disc">
              <li class="text-base leading-7 text-gray-600">
                Want to fly a wide variety of general aviation aircraft,
                including those with more than one passenger seat.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Can meet the class three <a
                  class="underline hover:text-main-red"
                  href="https://wixlabs-wix-faq-11.appspot.com/"
                  >FAA medical certification standards.</a
                >
              </li>
              <li class="text-base leading-7 text-gray-600">
                Aspire to earn additional certificates or ratings.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Want or need to fly at night.
              </li>
              <li class="text-base leading-7 text-gray-600">
                Want to fly outside US airspace.
              </li>
            </ul>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >What will I learn and do in training?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              Some of what you'll learn and do.
            </p>
            <ul class="list-disc">
              <li class="text-base leading-7 text-gray-600">
                <strong>Complete ground school (online + instructor):</strong> Upon
                completion you will take a FAA knowledge exam on aviation topics
                such as aircraft systems, weather, flight planning, aviation regulations,
                private pilot privileges and limitations.
              </li>
              <li class="text-base leading-7 text-gray-600">
                <strong>Pre-solo flight training:</strong> You'll learn to prepare
                an aircraft for flight, control an aircraft in all phases of flight,
                perform essential maneuvers, and safely takeoff and land. One complete,
                you will be ready to start making some flights solo, under careful
                supervision of your instructor.
              </li>
              <li class="text-base leading-7 text-gray-600">
                <strong>Cross country flight training:</strong> You'll leave the
                local airport area and start learning how to navigate and fly to
                new places!
              </li>
              <li class="text-base leading-7 text-gray-600">
                <strong>Night flight training:</strong> Night flying is usually calm,
                fun and offers fantastic views. It does change the game a bit and
                you'll learn how to safety fly at night
              </li>
              <li class="text-base leading-7 text-gray-600">
                <strong>Basic instrument training:</strong> You'll learn how to avoid
                getting caught in the clouds and the best ways to get out and recover
                if you accidentally do.
              </li>
              <li class="text-base leading-7 text-gray-600">
                <strong>Checkride preparation:</strong> Once all the FAA requirements
                are competed, you'll begin to focus on bringing it all together.
                You'll work with your instructor to prep for the oral portion of
                your checkride and fly together to ensure all your flight tasks meet
                the FAA airmen certification standards for private pilots.
              </li>
            </ul>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7">Why Packages?</span>
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              We offer our best pricing with these packages because it allows us
              to manage our aircraft and instructor workloads more predictably
              and efficiently. They also offer you the best structure for
              finishing what you started. Additionally, many financing options
              require packaging to structure a loan for students needing that
              option.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >How often will I fly with these packages?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              Our expedited program is a full-time effort for three months. Our
              efficient program is designed to be completed in five months,
              flying 2-3 times a week. Our extended program is designed for 1-2
              lessons per week over nine months.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >What happens if I don't use all my flight hours?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              This generally does not occur as we have built our packages with
              the averages in mind. However, in the event it does we will gladly
              move those hours into another package or you may use them for
              rental purposes within 90 days of your checkride.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >What happens if I exceed my allocated flight hours?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              We really strive for this not to happen by providing average
              flight hours that are needed for the program length you select.
              However, in the event this happens we will provide you additional
              aircraft and/or instructor hour at an agreed upon discounted rate.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >What Pilot supplies are included?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              Your choice of two pilot bags, a Faro passive headset, logbook,
              basic kneeboard, ASA Oral Exam guide, a hard copy of the FAA
              Private Pilot ACS, and ForeFlight Subscription. As a Lightspeed
              dealer, we do have an upgrade option available to a noise
              cancelling headset. Some supplies like a flight computer and
              foggles can be borrowed from school inventory. Optional items will
              be discussed with your instructor to help you keep costs
              manageable.
            </p>
          </dd>
        </div>
        <div class="pt-6">
          <dt>
            <!-- Expand/collapse question button -->
            <button
              type="button"
              class="flex w-full items-start justify-between text-left text-gray-900"
              aria-controls="faq-1"
              aria-expanded="false"
            >
              <span class="text-lg font-semibold leading-7"
                >What happens if I need to quit or defer my training?</span
              >
              <span class="ml-6 flex h-7 items-center">
                <!--
                  Icon when question is collapsed.

                  Item expanded: "hidden", Item collapsed: ""
                -->
                <svg
                  class="h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"></path>
                </svg>
                <!--
                  Icon when question is expanded.

                  Item expanded: "", Item collapsed: "hidden"
                -->
                <svg
                  class="hidden h-6 w-6"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M18 12H6"></path>
                </svg>
              </span>
            </button>
          </dt>
          <dd class="mt-2 pr-12" id="faq-1">
            <p class="text-base leading-7 text-gray-600">
              Life happens, we get it. If you need to defer your training you
              may pause payments and elect a future restart date. If you have
              paid off your program, but have not completed it, your program
              remains valid for six months after the initial program end date.
              Upon restart, you may receive a new instructor and experience the
              need to fly additional hours to complete your certificate, but we
              will provide all hours originally paid for by your package. After
              six months, the cash value of your program remains for another six
              months. However, we may need to reprice your package if costs have
              increased.
            </p>
            <p class="mt-6 text-base leading-7 text-gray-600">
              If you need to completely withdrawal from your program, there is
              no obligation beyond a 10% administrative fee of the unearned
              remaining program value. This serves to reimburse Summit Flight
              for the package discounts afforded in your training package. For
              example, if you are one month into the expedited program and need
              to cancel, the fee to cancel is $900 on an outstanding $9000
              balance. Insurance, ground school, pilot supplies, and Foreflight
              fees are, unfortunately, non-refundable. Any remaining money on
              account will be refunded within 7 days of written notice of
              withdrawal. If your account is in deficit, we will need the
              balance paid off at time of cancellation.
            </p>
          </dd>
        </div>

        <!-- More questions... -->
      </dl>
    </div>
  </div>
</div>
