<div class="bg-white lg:py-16 py-24">
  <div class="flex items-center justify-center gap-9 md:gap-12 flex-wrap">
    <div class="md:w-1/4">
      <h2 class="text-base font-semibold leading-7 text-main-red text-center">
        Give Flying a Try
      </h2>
      <p
        class="mt-2 text-3xl font-bold tracking-tight text-black sm:text-4xl text-center"
      >
        Take an Intro Flight Today
      </p>
      <p class="mt-6 text-base leading-7 text-gray-900 text-center">
        Test out if flight training is right for you by booking an introductory
        discovery flight with us! Meet the team, visit the flight school, and go
        up in a plane with one of our expert instructors.
      </p>
    </div>
    <div class="flex items-center justify-center lg:mt-0 md:w-1/4 flex-wrap">
      <img
        class="w-1/2 object-cover p-1 md:p-0 md-w-full"
        src="/img/fromWIX/SFA-1x1-logo-red.webp"
        alt="Discovery Flight"
        loading="lazy"
        width="132"
        height="114"
      />
      <a
        href="https://www.flightcircle.com/shop/325431594e72/4000002368"
        target="_blank"
        class="btn-red mt-6 px-3.5 py-2.5">Request a Discovery Flight</a
      >
    </div>
  </div>
</div>
