---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CFIRoadmap from "../../components/CFIRoadmap.astro";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
import CFITypes from "../../components/CFITypes.astro";
import EnrollmentModalButton from "../../components/enrollmentModalButtom";
import UnderHeaderVideo from "../../components/UnderHeaderVideo.astro";
const GHL_ENROLL_FORM_WEBHOOK_URL = import.meta.env.GHL_ENROLL_FORM_WEBHOOK_URL;
const PORTAL_API_KEY = import.meta.env.PORTAL_API_KEY;
---

<BaseLayout
  pageTitle="Instructor Training | Summit Flight Academy"
  pageDescription="Inspiring the next generation of pilots begins with exceptional flight instructors. At Summit Flight Academy, our Certified Flight Instructor (CFI) training program equips you with the skills and knowledge to become a highly effective and respected aviation educator. From meeting prerequisites and mastering ground instruction to undergoing practical flight training and acing the checkride, our experienced instructors guide you every step of the way. Unlock the rewarding path of shaping future aviators and join our team of passionate CFIs."
  pageKeywords="certified flight instructor training, CFI certification program, flight instructor courses, aviation teaching methodologies, practical flight instruction, CFI checkride preparation, become a flight instructor, mentor aspiring pilots, aviation educator career, flight school instructor opportunities"
>
  <!-- <PageHeader
    title="Become a Commercial Pilot"
    subtitle="Get paid to fly!"
    headerImg="commercial-pilot"
    imgPosition="top"
    imgStartOpacity="60"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-instructor-training bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Become a Certified Instructor
      </h1>
      <h2 class="text-3xl tracking-wide">
        Teach the next generation of pilots
      </h2>
      <EnrollmentModalButton
        client:visible
        btnStyle={"btn-red"}
        btnText={"Apply Today"}
        webhookUrl={GHL_ENROLL_FORM_WEBHOOK_URL}
        apiKey={PORTAL_API_KEY}
      />
    </div>
  </header>

  <UnderHeaderVideo
    title="A CFIs Perspective"
    description="Meet Katia Van Horn, a passionate Certified Flight Instructor (CFI) at Summit Flight Academy. With nearly two years of instructing experience and a flying journey that started at the age of 16, Katia brings a wealth of knowledge and enthusiasm to help students achieve their aviation goals."
    videoId="hyz-h0xRsD8"
  />

  <CFIRoadmap />

  <UnderHeaderVideo
    title="Teaching Others the Joy of Flight"
    description="Meet Ian Goings, a passionate Certified Flight Instructor (CFI) at Summit Flight Academy, located at Lee’s Summit Airport (KLXT) in Lee’s Summit, Missouri. With over a decade of flying experience and nearly two years of instructing at Summit, Ian is dedicated to helping students transform their dreams of flying into reality."
    videoId="Wv-7yQ70Q1w"
    reverse
  />

  <CFITypes />

  <EnrollNowCTA />
</BaseLayout>
