---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import CFIRoadmap from "../../components/CFIRoadmap.astro";
import EnrollNowCTA from "../../components/EnrollNowCTA.astro";
import CFITypes from "../../components/CFITypes.astro";
import FAQs from "../../components/FAQs";
import { commercialPilotFAQs } from "../../data/commercialPilotFAQs";
---

<BaseLayout
  pageTitle="Career| Summit Flight Academy"
  pageDescription="Inspiring the next generation of pilots begins with exceptional flight instructors. At Summit Flight Academy, our Certified Flight Instructor (CFI) training program equips you with the skills and knowledge to become a highly effective and respected aviation educator. From meeting prerequisites and mastering ground instruction to undergoing practical flight training and acing the checkride, our experienced instructors guide you every step of the way. Unlock the rewarding path of shaping future aviators and join our team of passionate CFIs."
  pageKeywords="certified flight instructor training, CFI certification program, flight instructor courses, aviation teaching methodologies, practical flight instruction, CFI checkride preparation, become a flight instructor, mentor aspiring pilots, aviation educator career, flight school instructor opportunities"
>
  <!-- <PageHeader
    title="Become a Commercial Pilot"
    subtitle="Get paid to fly!"
    headerImg="commercial-pilot"
    imgPosition="top"
    imgStartOpacity="60"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-instructor-training bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full justify-end mb-12 lg:mb-24"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Become a Certified Instructor
      </h1>
      <h2 class="text-3xl tracking-wide">
        Teach the next generation of pilots
      </h2>
      <a href="/enrollment" target="_blank" class="btn-red">Apply Today</a>
    </div>
  </header>

  <UnderHeader
    title="What is a CFI?"
    text1=`At Summit Flight Academy, we take immense pride in nurturing the next generation of aviation professionals through our comprehensive Certified Flight Instructor (CFI) training programs. Certified Flight Instructors play a pivotal role in shaping the skills and knowledge of aspiring pilots, serving as mentors, guides, and educators. Our CFI training courses are designed to equip you with the necessary expertise to become an influential and respected instructor, capable of imparting invaluable knowledge and instilling a culture of safety, proficiency, and excellence in your students.`
    text2="We also hire from our CFI graduates on an as-needed basis. If interested in applying to teach at Summit."
  />

  <CFIRoadmap />

  <CFITypes />

  <EnrollNowCTA />

  <FAQs faqs={commercialPilotFAQs} type="Instructor Training" client:visible />

  <!-- <DiscoveryFlightCTA /> -->

  <!-- <ContactUs /> -->
</BaseLayout>
