---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import JoinUsCTA from "../../components/JoinUsCTA.astro";
import WhatsNext from "../../components/WhatsNext.astro";
---

<BaseLayout
  pageTitle="Training Courses | Summit Flight Academy"
  pageDescription="Explore a comprehensive range of pilot training courses at Summit Flight Academy. From Private Pilot License (PPL) to Airline and Military programs, discover the perfect training path for your aviation goals. Flexible and accelerated options are available. Train with us and elevate your flight career."
  pageKeywords="pilot training courses, aviation training programs, flight academy programs, PPL courses, Airline pilot training, Military pilot programs, accelerated pilot training, flexible pilot training, flight school courses, certified flight instructor, aviation career paths"
>
  <!-- <PageHeader
    title="Become a Commercial Pilot"
    subtitle="Get paid to fly!"
    headerImg="commercial-pilot"
    imgPosition="top"
    imgStartOpacity="60"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-commercial-pilot bg-cover bg-center bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/20 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center z-10 flex flex-col items-center gap-4 px-5"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Teach at Summit Flight Academy
      </h1>
      <h2 class="text-3xl tracking-wide">Come instruct with us</h2>
      <a href="/enrollment" target="_blank"
        ><button class="btn-red">Apply Now</button></a
      >
    </div>
  </header>

  <UnderHeader
    title="Lorem ipsum dolor sit amet?"
    text1="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
  />

  <JoinUsCTA />

  <WhatsNext
    title="Come Visit Us"
    body="Have more questions about our CFI openings and positions? Reach out to us with the form below."
  />
</BaseLayout>
../../components/JoinUsCTA.jsx
