---
import BaseLayout from "../../layouts/BaseLayout.astro";
import UnderHeader from "../../components/UnderHeader.astro";
import JoinUsCTA from "../../components/JoinUsCTA.astro";
import WhatsNext from "../../components/WhatsNext.astro";
---

<BaseLayout
  pageTitle="Teach at Summit | Summit Flight Academy"
  pageDescription="Summit Flight Academy is seeking passionate and dedicated Certified Flight Instructors (CFIs) to join our expert team and inspire the next generation of aviators. If you hold CFI-I credentials (MEI a plus), possess a deep respect for the profession, excel at teaching, and prioritize safety above all else, we invite you to apply. Be a part of our growing flight school and contribute to shaping the future of aviation through exceptional instruction."
  pageKeywords="flight instructor jobs, aviation teaching positions, CFI employment opportunities, flight school instructor hiring, become a certified flight instructor, aviation educator careers, join our instructor team, passion for teaching pilots, safety-focused flight training, mentoring aspiring aviators"
>
  <!-- <PageHeader
    title="Become a Commercial Pilot"
    subtitle="Get paid to fly!"
    headerImg="commercial-pilot"
    imgPosition="top"
    imgStartOpacity="60"
    imgEndOpacity="20"
    btnText="Apply Now"
    btnHref="/enrollment"
    target="_blank"
    btnColor="white"
  /> -->

  <header
    class="relative h-screen-3/4 bg-teach-at bg-cover bg-top bg-black flex flex-col items-center justify-center"
  >
    <div
      class="absolute bg-gradient-to-b from-black/60 to-black/40 w-full h-full z-0"
    >
    </div>

    <div
      class="text-white text-center lg:text-left z-10 flex flex-col items-center gap-4 px-5 h-full lg:pt-28 justify-center"
    >
      <h1 class="text-5xl font-bold tracking-tighter">
        Teach at Summit Flight Academy
      </h1>
      <h2 class="text-3xl tracking-wide">Positions Opening in Spring 2025</h2>
      <a
        href="https://forms.zohopublic.com/SummitFlight/form/JobApplication/formperma/nAfp7M8R0PYCdmjJ9eKGj34r6CvGzJ0jT91kZ78hw0Q"
        target="_blank"
        class="btn-red mt-5">Apply</a
      >
    </div>
  </header>

  <UnderHeader
    title="Interested in Teaching Pilots?"
    text1="Teaching the next generation of pilots can be one of the most rewarding paths in pilot careers. We at Summit Flight Academy are passionate about imparting our flight training knowledge on other students to form a constructive and engaging environment. If you wish to join our family of CFIs at Summit, please read below."
  />

  <JoinUsCTA />

  <WhatsNext
    title="Come Visit Us"
    body="Have more questions about our CFI openings and positions? Reach out to us with the form below."
  />
</BaseLayout>
../../components/JoinUsCTA.jsx
